<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Airline Reservation System</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <error-page>
    <error-code>404</error-code>
    <location>/error404.jsp</location>
  </error-page>
   <error-page>
    <error-code>500</error-code>
    <location>/error500.jsp</location>
  </error-page>
  <servlet>
    <description></description>
    <display-name>LoginController</display-name>
    <servlet-name>LoginController</servlet-name>
    <servlet-class>com.ars.controller.LoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginController</servlet-name>
    <url-pattern>/LoginController</url-pattern>
    <url-pattern>/SignIn</url-pattern>
     <url-pattern>/register</url-pattern>
    <url-pattern>/signOut</url-pattern>
    <url-pattern>/updateProfile</url-pattern>
    <url-pattern>/profileUpdate</url-pattern>
    <url-pattern>/changePassword</url-pattern>
    <url-pattern>/confirmChangePassword</url-pattern>
    <url-pattern>/ValidateUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BookingController</display-name>
    <servlet-name>BookingController</servlet-name>
    <servlet-class>com.ars.controller.BookingController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BookingController</servlet-name>
    <url-pattern>/BookingController</url-pattern>
    <url-pattern>/search</url-pattern>
    <url-pattern>/sort</url-pattern>
    <url-pattern>/BookNow</url-pattern>
    <url-pattern>/Pay</url-pattern>
    <url-pattern>/BookingConfirm</url-pattern>
    <url-pattern>/ticketHistory</url-pattern>
    <url-pattern>/CancelTicket</url-pattern>
    
  </servlet-mapping>
  <filter>
    <display-name>SearchLoginFilter</display-name>
    <filter-name>SearchLoginFilter</filter-name>
    <filter-class>com.ars.controller.SearchLoginFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>SearchLoginFilter</filter-name>
    <url-pattern>/SearchResults.jsp</url-pattern>
    <url-pattern>/login.jsp</url-pattern>
    <dispatcher>FORWARD</dispatcher>
    <dispatcher>INCLUDE</dispatcher>
    <dispatcher>REQUEST</dispatcher>
  </filter-mapping>
  <filter>
    <display-name>NoCacheFilter</display-name>
    <filter-name>NoCacheFilter</filter-name>
    <filter-class>com.ars.controller.NoCacheFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>NoCacheFilter</filter-name>
    <url-pattern>/NoCacheFilter</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>LoggerInitializer</display-name>
    <servlet-name>LoggerInitializer</servlet-name>
    <servlet-class>com.ars.controller.LoggerInitializer</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoggerInitializer</servlet-name>
    <url-pattern>/LoggerInitializer</url-pattern>
  </servlet-mapping>
</web-app>